<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885690210038-83at2puvqbi1gc23ds4ebr00pf924gbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885690210038-83at2puvqbi1gc23ds4ebr00pf924gbl</string>
	<key>API_KEY</key>
	<string>AIzaSyDCIapJcg3odCalzoORVgiOdFSA0NBUNT4</string>
	<key>GCM_SENDER_ID</key>
	<string>885690210038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jack.tel4vn</string>
	<key>PROJECT_ID</key>
	<string>pitelexample</string>
	<key>STORAGE_BUCKET</key>
	<string>pitelexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885690210038:ios:c5c027d9c6f42ce5c83ed7</string>
</dict>
</plist>